/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 1em;
    font-weight: normal;
    color: #999999;
}

#game {
    margin: 2% auto;
    text-align: center;
}

#game > .board {
    position: relative;
    display: inline-block;
    max-width: 29em;
    margin: 0 0 20px;
    text-align: center;
}

#game > .board > table.grid {
    margin: 0;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 2px;
    box-shadow: 0 0 0 3px #aaa;
    transition: all .2s ease;
}

#game > .board > table.grid > * > tr {
}

#game > .board > table.grid > * > tr > td {
    border: 3px solid #aaa;
}

#game > .board > table.grid table.block {
    border-collapse: collapse;
}

#game > .board > table.grid table.block > * > tr > td {
    position: relative;
    min-width: 3rem;
    min-height: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    text-align: center;
    color: rgba( 0, 0, 0, 0.5 );
    border-color: #dddddd;
    border-width: 0 2px 2px 0;
    border-style: dashed;
    cursor: default;
    transition: all .2s ease;
}

#game > .board > table.grid table.block > * > tr > td.fillable {
    color: rgba( 0, 0, 0, 1 );
    cursor: pointer;
}

#game > .board > table.grid table.block > * > tr > td.fillable:hover {
    background-color: #eaeaea;
}

#game > .board > table.grid table.block > * > tr > td:last-of-type {
    border-right-width: 0;
}

#game > .board > table.grid table.block > * > tr:last-of-type > td {
    border-bottom-width: 0;
}

#game > .board > table.grid p {
    margin: 0;
    padding: 0;
}

#game > .board > table.grid table.block td button {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 0.1rem 0.15rem 0.25rem;
    background: rgba( 0, 0, 0, 0.1 );
    font-size: 1rem;
    opacity: 0;
    border: none;
    border-radius: 0 0 0 1rem;
    -webkit-appearance: none;
    transition: 0s all ease;
}

#game > .board > table.grid table.block td.filled:hover button {
    visibility: visible;
    opacity: 1;
    transition: 0.25s 0.3s all ease;
}

#game > .board > table.grid table.number-picker {
    position: absolute;
    top: -25%;
    left: -25%;
    background-color: #555;
    text-align: center;
    border: none;
    border-radius: 5px;
    border-collapse: collapse;
    z-index: 25;
}

#game > .board > table.grid table.number-picker td {
    min-width: 1.5rem;
    min-height: 1.5rem;
    height: 1.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#game > .board > table.grid table.number-picker td:not(.disabled):hover {
    background-color: rgba( 255, 255, 255, 0.15 );
}

#game > .board > table.grid table.number-picker td.disabled {
    color: #777;
    cursor: default;
}

#game > .board > .finished-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.8 );
    font-size: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgba( 255, 255, 255, 0.8 );
    border-radius: 2px;
}

/* Ghost element used to achieve vertical centering */
#game > .board > .finished-overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#game > .board > .finished-overlay > span {
    vertical-align: middle;
    font-size: 3rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dppx) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
